<!DOCTYPE html>
<html lang="en">
<head>

	<!-- Latest compiled and minified CSS -->
	<link href='http://fonts.googleapis.com/css?family=Titillium+Web:400italic,400,300italic' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<!-- <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css"> -->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="http://imagesloaded.desandro.com/imagesloaded.pkgd.min.js"></script>
	 <script src="http://masonry.desandro.com/masonry.pkgd.min.js"></script>
	<!-- Optional theme -->
	<link rel="stylesheet" type="text/css" href="/css/style.css">

	<meta charset="UTF-8">

	<title>Document</title>
</head>
<body>

<div class="container">

      <div class="masthead">
        <h1 class="text-muted"><strong><span class="glyphicon glyphicon-book"></span> Story</strong>Book</h1>
        <ul class="nav nav-justified">
          <li><a href="/">Home</a></li>
          <li><a href="/list">All Stories</a></li>
          <li><a href="/home">Post</a></li>
          <li><a href="/login">Login</a></li>
          <li><a href="/signup">Signup</a></li>
        </ul>
      </div>


