<% include partials/header  %>


<div id="container">
  <div class="item w3">
<h2>Oops! Look's like you went to a page that does not exist. Head <a href="/">back home</a> and try again.</h2>
  </div>
</div>


<% include partials/footer  %>