<% include partials/header  %>


<div id="container">
  <div class="item w3">
<h2>Welcome stranger, to the end of the world. Head <a href="/">back home</a> and try again.</h2>
  </div>
</div>


<% include partials/footer  %>