<% include partials/header.ejs %>    

	<h1> Story time is around the corner...</h1>

	<% if (typeof message !== 'undefined') { %>
		<p><%= message %></p>
	<% } %>

	


<% include partials/footer.ejs %>  